---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=404e0567-19a1-4a64-b2d1-d3b0c99f2ed9&client_secret=QRB8Q%7Ei.1rID_.MC9FTfRGq-FTE5SgWYsoeLacWf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Mon, 06 Oct 2025 15:01:42 GMT
- request:
    method: post
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY9jo6leJDqrT7muzvmiWjFW/items/01ANJ53W2LHDLFFGQN4RHJRV6HAK2CFDCT/copy?@microsoft.graph.conflictBehavior=fail
    body:
      encoding: UTF-8
      string: '{"name":"My New Folder"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"007","RoleInstance":"FR2PEPF00000C2A"}}'
      Splogid:
      - 7cc3cca1-104c-0000-83a4-a85ca8cb598c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"generalException","message":"General exception while
        processing","innerError":{"date":"2025-10-06T15:01:42","request-id":"dc956544-24d3-4ab0-87d4-fd372fa23de3","client-request-id":"dc956544-24d3-4ab0-87d4-fd372fa23de3"}}}'
  recorded_at: Mon, 06 Oct 2025 15:01:42 GMT
recorded_with: VCR 6.3.1
