---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=404e0567-19a1-4a64-b2d1-d3b0c99f2ed9&client_secret=QRB8Q%7Ei.1rID_.MC9FTfRGq-FTE5SgWYsoeLacWf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Tue, 05 Aug 2025 16:07:36 GMT
- request:
    method: post
    uri: https://graph.microsoft.com/v1.0/drives/root/children
    body:
      encoding: UTF-8
      string: '{"name":"cant_do_that_folder","folder":{},"@microsoft.graph.conflictBehavior":"fail"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"FR3PEPF00000310"}}'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BadRequest","message":"Resource not found for the
        segment ''children''.","innerError":{"date":"2025-08-05T16:07:36","request-id":"d8c54aa6-82d3-4f04-a5dd-81be6d5d2827","client-request-id":"d8c54aa6-82d3-4f04-a5dd-81be6d5d2827"}}}'
  recorded_at: Tue, 05 Aug 2025 16:07:36 GMT
recorded_with: VCR 6.3.1
