---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY87vnZ6fgfvQanZHX-XCAyw/items/01ANJ53W4MWZNYS4FOTNDI3UVTLEXUZ5TQ/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/octet-stream
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001378"}}'
      Splogid:
      - e4c1b9a1-e04f-0000-7534-c9510299716f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Aug 2025 13:49:17 GMT
recorded_with: VCR 6.3.1
