---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=2a513d01-4e57-4c05-99fd-5cea98ec2c9a&client_secret=<CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Fri, 16 Jan 2026 14:24:27 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8Qconfm2i6SKEoCmuGYqQK/items/01ANJ53W6FB7TEDYKAZVCKYK5WKIX66ZTF?$select=id,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SECRET>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"AM2PEPF0000BE17"}}'
      Splogid:
      - e595eda1-9039-0000-a13d-dbb9f6c0a484
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(driveItem)/$entity","@odata.etag":"\"{41E60FC5-40E1-44CD-AC2B-B6522FEF6665},1\"","id":"01ANJ53W6FB7TEDYKAZVCKYK5WKIX66ZTF","name":"Berlin''s
        office Christmas"}'
  recorded_at: Fri, 16 Jan 2026 14:24:27 GMT
recorded_with: VCR 6.3.1
