---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY87vnZ6fgfvQanZHX-XCAyw/items/01ANJ53WYLXAJW5PXSCJB2CFCD42UPDKMI?$select=webUrl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"FR3PEPF00000E37"}}'
      Splogid:
      - e6fdbba1-c035-0000-7bb8-af64dd94fc1d
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(driveItem)/$entity","@odata.etag":"\"{6E13B80B-F2BE-4312-A114-43E6A8F1A988},1\"","webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/Shared%20Documents/Folder"}'
  recorded_at: Fri, 15 Aug 2025 12:25:50 GMT
recorded_with: VCR 6.3.1
