---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY87vnZ6fgfvQanZHX-XCAyw/items/YouShallNotPass?$select=webUrl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"008","RoleInstance":"FR3PEPF00000CC0"}}'
      Splogid:
      - ecfdbba1-40cb-0000-7534-cd3fef3f5674
    body:
      encoding: UTF-8
      string: '{"error":{"code":"itemNotFound","message":"Item not found"}}'
  recorded_at: Fri, 15 Aug 2025 12:26:17 GMT
recorded_with: VCR 6.3.1
